@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Open-Sans, Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: #425087;
}

header {
  background-color: #425087;
}

nav {
  background-color: #666D87;
}

h3 {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

article {
  border: 3px solid black;
  margin: 5px;
  background-color: white;
  padding: 5px;
}

section {
  border: 3px solid #666D87;
  padding: 5px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: #666D87;
}

ul {
  padding: 10px;
}

ul li {
  background: #666D87;
  padding: 5px;
  border: solid 2px #666D87;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: 	#C0C0C0;
}

footer p{
  color: white;
}

footer{
  background-color: #666D87;
}


.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

img {
  float: right;
}

.somediv:hover {
  background-color: black;
}

.somediv p:hover {
  background-color: black;
  color: white;
}

.links {
  color: aqua;
  background-color: black;
}

.links:hover {
  color: black;
  background-color: aqua;
}

.vertlist {
  background: #FFFFFF;
  padding: 0px;
  border: solid 0px #FFFFFF;
  display: list-item;
  margin: 0px;
}
